body{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
h3{
	
}
.formulario{
	font-size: 180%;
	color: #c92e3d;
	display: inline-flex;
	align-content: center;
	margin: auto 10% auto 10%;
	width: 80%;
	height: auto;
}
.login{
	width: 50%;
	height: auto;
	text-align: center;
	background: linear-gradient(to right, #E6E6E6, #B3B3B3);
}
.cadastro{
	width: 50%;
	height: auto;
	text-align: center;
	background: linear-gradient(to right, #CCCCCC, #E6E6E6);
}
input{
	font-weight: 700;
	border-radius: 5px;
	border-style: none;
	margin: 1%;
	color: #F2F2F2;
	width: 45%;
	padding: 2%;
	background-color: #E6E6E6;
}
button{
	font-weight: 700;
	border-radius: 5px;
	border-style: none;
	width: 20%;
	height: 40px;
	margin: 1%;
	background: #E6E6E6;
}