html{
	height: 100%;
	width: 100%;
}

body{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

h3{
	
}

.formulario{
	font-size: 180%;
	color: #c92e3d;
	display: inline-flex;
	align-content: center;
	margin: auto 10% auto 10%;
	width: 80%;
	height: auto;
}

body {
	font-family: Verdana;
	margin: 0;
	height: 100%;
	width: 100%;
}

.row{
	display: inline-flex;
	justify-content: center;
	width: 100%;
	/* height: 100%; */
}

.login{
	width: 50%;
	height: auto;
	text-align: center;
	background: linear-gradient(to right, #E6E6E6, #B3B3B3);
}
.cadastro{
	width: 50%;
	height: auto;
	text-align: center;
	background: linear-gradient(to right, #CCCCCC, #E6E6E6);
}
input{
	font-weight: 700;
	border-radius: 5px;
	border-style: none;
	margin: 1%;
	color: #F2F2F2;
	width: 45%;
	padding: 2%;
	background-color: #E6E6E6;
}
button{
	font-weight: 700;
	border-radius: 5px;
	border-style: none;
	width: 20%;
	height: 40px;
	margin: 1%;
	background: #E6E6E6;
	margin-top: 18.72px;
	margin-bottom: 18.72px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: auto;
	height: 70px;
	color: #c92e3d;
}

.navbar a {
	color: #c92e3d;
	text-align: right;
	font-size: 1em;
}

.navbar-logo {
	width: 150px;
	height: auto;
	margin: 0 3vw 0 3vw;
}

.navbar-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 400px;
	margin: 0 3vw 0 3vw;
}

.bt-entrar {
	border: 2px solid #c92e3d;
	padding: 5px;
}

a:link {
	text-decoration: none;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: #c92e3d;
	color: #ffffff;
	bottom: 0;
}

.footer-left {
	display: flex;
	align-items: flex-end;
}

.footer-logo {
	width: 150px;
	height: auto;
	margin: 0 1vw 0 3vw;
}

.footer-contact {
	margin: 0 3vw 0 3vw;
	font-family: Verdana;
	font-size: 10px;
}

.footer-contact ul li img{
	margin-right: 2px;
}

.footer-links {
	font-size: 0.8em;
}

.footer ul li {
	list-style: none;
	padding: 1vh;
}

.footer a {
	color: #ffffff;
}

.banner{
	background: url('images/banner.png') no-repeat center;
	background-size: cover;
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.banner h1 {
	font-size: 4em;
	color: #000000;
	margin-bottom: 35px; 
	text-align: center;
}

.content .row{
	height: 255px;
}

.card{
	height: 100%;
	width: 229px;
	background-color: #c92e3d;
	font-family: Verdana;
}

.imagem-card{
	width: 100%;
	height: 70%;
}

.imagem-card img{
	width: 100%;
	height: 100%;
}

.placa-card{
	width: 100%;
	height: 30%;
	background-color: #e6e6e6;
	display: inline-flex;
	justify-content: space-around;
}

.column-1{
	display: block;
}

.column-2{
	display: block;
	justify-content: flex-end;
}

.titulo-casa{
	display: flex;
	justify-content: flex-start;
	font-weight: normal;
	height: 17px;
}

.titulo-casa h3{
	margin: 0;
}

.date{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-left: auto;
	font-size: 11px;
	margin-top: 3px;
	margin-bottom: 25px;
}

.address{
	font-size: 11px;
}

.price{
	color: #c92e3d;
	font-weight: bold;
	font-family: verdana;
	display: flex;
	height: 51%;
    align-items: center;
}

.btn-alugar{
    background-color: #c92e3d;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size: 14px;	
	width: 33%;
	height:38%;
	min-width: 75px;
	cursor: pointer;
	margin: 0;
}

.content{
    padding-top: 2%;
}

.title{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0;
}

.title h3{
	font-weight: normal;
	font-size: 25px;
}

.text-footer{
	color: #c92e3d;
	font-family: Verdana;
	font-size: 17.5px;
	text-align: right;
	margin-right: 13.5%;
    margin-top: 5px;
}

input{
	color: black;
}

@media screen and (max-width: 768px){
	.footer{
		padding-top: 14px;
		justify-content: center;
		flex-wrap: wrap;
	}

	.footer-left{
		flex-wrap: wrap;
		justify-content: center;
	}

	.footer-contact ul{
		padding-left: 0;
		list-style: none;
	    padding: 1vh;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	}