{% extends 'index.html' %}
{% load staticfiles %}

	{% block content %}
		<div class="banner">
			<h1>Um novo lar só esperando por você</h1>
		</div>
		<div class="full-content">
		<div class="content">
			<div class="title"><h3>Adicionadas recentemente</h3></div>
			<div class="row">
				<div class="card" style="margin-right: 5px;">
					<div class="imagem-card"><img src="static/images/casacard.jpg"></div>
					<div class="placa-card">
						<div class="column-1">
							<span class="titulo-casa"><h3>CASA</h3></span>
							<span class="address">Boa Viagem, Recife - PE</span>
							<span class="price">R$800,00</span>
						</div>
						<div class="column-2">
							<span class="date">06/12/2017</span>
							<span><button class="btn-alugar">ALUGAR</button></span>
						</div>
					</div>
				</div>

				<div class="card" style="margin-right: 5px;">
					<div class="imagem-card"><img src="static/images/casacard.jpg"></div>
					<div class="placa-card">
						<div class="column-1">
							<span class="titulo-casa"><h3>CASA</h3></span>
							<span class="address">Boa Viagem, Recife - PE</span>
							<span class="price">R$800,00</span>
						</div>
						<div class="column-2">
							<span class="date">06/12/2017</span>
							<span><button class="btn-alugar">ALUGAR</button></span>
						</div>
					</div>
				</div>

				<div class="card" style="margin-right: 5px;">
					<div class="imagem-card"><img src="static/images/casacard.jpg"></div>
					<div class="placa-card">
						<div class="column-1">
							<span class="titulo-casa"><h3>CASA</h3></span>
							<span class="address">Boa Viagem, Recife - PE</span>
							<span class="price">R$800,00</span>
						</div>
						<div class="column-2">
							<span class="date">06/12/2017</span>
							<span><button class="btn-alugar">ALUGAR</button></span>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="imagem-card"><img src="static/images/casacard.jpg"></div>
					<div class="placa-card">
						<div class="column-1">
							<span class="titulo-casa"><h3>CASA</h3></span>
							<span class="address">Boa Viagem, Recife - PE</span>
							<span class="price">R$800,00</span>
						</div>
						<div class="column-2">
							<span class="date">06/12/2017</span>
							<span><button class="btn-alugar">ALUGAR</button></span>
						</div>
					</div>
				</div>
			</div>

			<div class="row" style="margin-top: 10px;">
				<div class="card" style="margin-right: 5px;">
					<div class="imagem-card"><img src="static/images/casacard.jpg"></div>
					<div class="placa-card">
						<div class="column-1">
							<span class="titulo-casa"><h3>CASA</h3></span>
							<span class="address">Boa Viagem, Recife - PE</span>
							<span class="price">R$800,00</span>
						</div>
						<div class="column-2">
							<span class="date">06/12/2017</span>
							<span><button class="btn-alugar">ALUGAR</button></span>
						</div>
					</div>
				</div>

				<div class="card" style="margin-right: 5px;">
					<div class="imagem-card"><img src="static/images/casacard.jpg"></div>
					<div class="placa-card">
						<div class="column-1">
							<span class="titulo-casa"><h3>CASA</h3></span>
							<span class="address">Boa Viagem, Recife - PE</span>
							<span class="price">R$800,00</span>
						</div>
						<div class="column-2">
							<span class="date">06/12/2017</span>
							<span><button class="btn-alugar">ALUGAR</button></span>
						</div>
					</div>
				</div>

				<div class="card" style="margin-right: 5px;">
					<div class="imagem-card"><img src="static/images/casacard.jpg"></div>
					<div class="placa-card">
						<div class="column-1">
							<span class="titulo-casa"><h3>CASA</h3></span>
							<span class="address">Boa Viagem, Recife - PE</span>
							<span class="price">R$800,00</span>
						</div>
						<div class="column-2">
							<span class="date">06/12/2017</span>
							<span><button class="btn-alugar">ALUGAR</button></span>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="imagem-card"><img src="static/images/casacard.jpg"></div>
					<div class="placa-card">
						<div class="column-1">
							<span class="titulo-casa"><h3>CASA</h3></span>
							<span class="address">Boa Viagem, Recife - PE</span>
							<span class="price">R$800,00</span>
						</div>
						<div class="column-2">
							<span class="date">06/12/2017</span>
							<span><button class="btn-alugar">ALUGAR</button></span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="content" id="adjust-content">
			<div class="title"><h3>Por valor</h3></div>
			<div class="row">
				<div class="card" style="margin-right: 5px;">
					<div class="imagem-card"><img src="static/images/casacard.jpg"></div>
					<div class="placa-card">
						<div class="column-1">
							<span class="titulo-casa"><h3>CASA</h3></span>
							<span class="address">Boa Viagem, Recife - PE</span>
							<span class="price">R$800,00</span>
						</div>
						<div class="column-2">
							<span class="date">06/12/2017</span>
							<span><button class="btn-alugar">ALUGAR</button></span>
						</div>
					</div>
				</div>

				<div class="card" style="margin-right: 5px;">
					<div class="imagem-card"><img src="static/images/casacard.jpg"></div>
					<div class="placa-card">
						<div class="column-1">
							<span class="titulo-casa"><h3>CASA</h3></span>
							<span class="address">Boa Viagem, Recife - PE</span>
							<span class="price">R$800,00</span>
						</div>
						<div class="column-2">
							<span class="date">06/12/2017</span>
							<span><button class="btn-alugar">ALUGAR</button></span>
						</div>
					</div>
				</div>

				<div class="card" style="margin-right: 5px;">
					<div class="imagem-card"><img src="static/images/casacard.jpg"></div>
					<div class="placa-card">
						<div class="column-1">
							<span class="titulo-casa"><h3>CASA</h3></span>
							<span class="address">Boa Viagem, Recife - PE</span>
							<span class="price">R$800,00</span>
						</div>
						<div class="column-2">
							<span class="date">06/12/2017</span>
							<span><button class="btn-alugar">ALUGAR</button></span>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="imagem-card"><img src="static/images/casacard.jpg"></div>
					<div class="placa-card">
						<div class="column-1">
							<span class="titulo-casa"><h3>CASA</h3></span>
							<span class="address">Boa Viagem, Recife - PE</span>
							<span class="price">R$800,00</span>
						</div>
						<div class="column-2">
							<span class="date">06/12/2017</span>
							<span><button class="btn-alugar">ALUGAR</button></span>
						</div>
					</div>
				</div>
			</div>

			<div class="row" style="margin-top: 10px;">
				<div class="card" style="margin-right: 5px;">
					<div class="imagem-card"><img src="static/images/casacard.jpg"></div>
					<div class="placa-card">
						<div class="column-1">
							<span class="titulo-casa"><h3>CASA</h3></span>
							<span class="address">Boa Viagem, Recife - PE</span>
							<span class="price">R$800,00</span>
						</div>
						<div class="column-2">
							<span class="date">06/12/2017</span>
							<span><button class="btn-alugar">ALUGAR</button></span>
						</div>
					</div>
				</div>

				<div class="card" style="margin-right: 5px;">
					<div class="imagem-card"><img src="static/images/casacard.jpg"></div>
					<div class="placa-card">
						<div class="column-1">
							<span class="titulo-casa"><h3>CASA</h3></span>
							<span class="address">Boa Viagem, Recife - PE</span>
							<span class="price">R$800,00</span>
						</div>
						<div class="column-2">
							<span class="date">06/12/2017</span>
							<span><button class="btn-alugar">ALUGAR</button></span>
						</div>
					</div>
				</div>

				<div class="card" style="margin-right: 5px;">
					<div class="imagem-card"><img src="static/images/casacard.jpg"></div>
					<div class="placa-card">
						<div class="column-1">
							<span class="titulo-casa"><h3>CASA</h3></span>
							<span class="address">Boa Viagem, Recife - PE</span>
							<span class="price">R$800,00</span>
						</div>
						<div class="column-2">
							<span class="date">06/12/2017</span>
							<span><button class="btn-alugar">ALUGAR</button></span>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="imagem-card"><img src="static/images/casacard.jpg"></div>
					<div class="placa-card">
						<div class="column-1">
							<span class="titulo-casa"><h3>CASA</h3></span>
							<span class="address">Boa Viagem, Recife - PE</span>
							<span class="price">R$800,00</span>
						</div>
						<div class="column-2">
							<span class="date">06/12/2017</span>
							<span><button class="btn-alugar">ALUGAR</button></span>
						</div>
					</div>
				</div>
			</div>
			
			<div class="text-footer">
				Ver mais opções >
			</div>
		</div>
		</div>


	{% endblock %}
